@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanetin";
  src: url("/fonts/KanetinPersonalUse-vmXK9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body,
* {
  /* cursor: url("/images/cursor-small.png"), auto !important; */
  /* cursor: url(/images/cursor.), pointer !important; */
}

body {
  color: black;
  background: white;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-secondary;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-tertiary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light {
  background-color: #ffffff;
  color: #171717;
}

.dark {
  background-color: #171717;
  color: #ffffff;
}
#box {
  position: absolute;
  background: red;
  height: 40px;
  width: 40px;
  cursor: move;
}

#ground {
  position: absolute;
  top: 140px;
  height: 120px;
  width: 400px;
  background: #666;
}

.card {
  @apply bg-white rounded-lg shadow-md p-4;
}
