@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanetin";
  src: url("/fonts/KanetinPersonalUse-vmXK9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body,
* {
  cursor: url("/images/cursor-small.png"), auto !important;
  /* cursor: url(/images/cursor.), pointer !important; */
}
/* html::view-transition-group(root) {
  width: 476px;
  height: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  text-orientation: mixed;
  writing-mode: horizontal-tb;
  backdrop-filter: none;
  mix-blend-mode: normal;
  animation-name: view-transition-group-anim-root;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
}
html::view-transition-group(*) {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red !important;
} */

body {
  color: black;
  background: white;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-secondary;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-tertiary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light {
  background-color: #ffffff;
  color: #171717;
}

.dark {
  background-color: #171717;
  color: #ffffff;
}

#ground {
  position: absolute;
  top: 140px;
  height: 120px;
  width: 400px;
  background: #666;
}

.card {
  @apply bg-white rounded-lg shadow-md p-4;
}

.pt-25rem-20px {
  padding-top: calc(1.75rem - 20px);
}

.bg-variant-primary {
  background-color: red;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 100%;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translate(85%, 0%);
  background-color: white;
}

.slider-container {
  min-height: 0;
  min-width: 0;
  padding: 20px;
}
.removeClipPath {
  clip-path: none !important;
}
