@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanetin";
  src: url("/fonts/KanetinPersonalUse-vmXK9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body,
* {
  cursor: url("/images/cursor-small.png"), auto !important;
  /* cursor: url(/images/cursor.), pointer !important; */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-primary;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-secondary;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-tertiary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light {
  background-color: #ffffff;
  color: #171717;
}

.dark {
  background-color: #171717;
  color: #ffffff;
}
